<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <h1 class="font-bold text-lg mb-4">All Orders</h1>
        <div id="success-alert" role="alert"
            class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3">
            <p>Order placed successfully!</p>
        </div>
        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-4 py-2 text-left border"><a class="link" href="/">Order_Id</a></td>
                    <td class="px-4 py-2 text-left border">Address</td>
                    <td class="px-4 py-2 text-left border">Time</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>