body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #232323;
}

#cart-icon {
  background: rgb(236, 72, 153);
}
#cart-icon:hover {
  background-color: rgb(190, 24, 93);
}

nav li a {
  transition: all 0.3s all;
}
nav li a:hover {
  color: rgb(236, 72, 153);
}

.cart-btn {
  background: rgb(236, 72, 153);
}
.cart-btn:hover {
  background: rgb(190, 24, 93);
}
