@import "./variables";

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $dark;
}

//Navigation Menu

#cart-icon {
  background: $primary;
  &:hover {
    background-color: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}
