@import "./variables";
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss'
;
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: $dark;
}

//Navigation Menu

#cart-icon {
  background: $primary;
  &:hover {
    background-color: $primary-hover;
  }
}

nav li a {
  transition: $smooth;
  &:hover {
    color: $primary;
  }
}

//Cart button
.cart-btn {
  background: $primary;

  &:hover {
    background: $primary-hover;
  }
}

.btn-primary {
  background: $primary;
  transition: $smooth;
  &:hover {
    background: $primary-hover;
  }
}

//Noty Notification

.noty_theme__mint{
  border-radius: 50px !important;
  background-color: $primary !important;
}