<section class="text-gray-600 body-font">
  <div class="container px-5 py-4 md:py-16 mx-auto">
    <div class="flex flex-wrap -m-4 text-center">
      <% for (let i = 0; i<8; i++){ %>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full shadow-lg">
        <a class="block relative rounded overflow-hidden cursor-pointer">
          <img
            alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="/img/hoodie.jpg"
          />
        </a>
        <div class="mt-4">
          <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
            Winter Hoodie
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">
            Premium Hoodie
          </h2>
          <p class="mt-1">$₹ 1,999</p>
          <p class="mt-1">S,M,L,XXL,XXXL</p>
        </div>
      </div>
      <%}%>
    </div>
  </div>
</section>
